<!DOCTYPE html>
<html>

	<head>
		<title>Reading</title>
		<meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<link rel="stylesheet" href="../public/css/nav.css" />
        <link rel="stylesheet" href="../public/css/card.css" media="all">
		<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>

	<body>
    <!--
		<div id="navi" class="three-d">
			<div class="button-base menu-current" slug="home" tabindex="0" role="button" style="width: 25%; left: 0px;">
				<div>
					<h1>Project</h1>
					<span class="block"></span>
				</div>
				<div>
					<h1>Project</h1>
					<span class="block"></span>
					<span class="bottom-border"></span>
				</div>
			</div>

			<div class="button-base" slug="about" tabindex="0" role="button" style="width: 25%; left: 25%;">
				<div>
					<h1>Music</h1>
					<span class="block"></span>
				</div>
				<div>
					<h1>Music</h1>
					<span class="block"></span>
					<span class="bottom-border"></span>
				</div>
			</div>
			<div class="button-base" slug="blog" tabindex="0" role="button" style="width: 25%; left: 50%;">
				<div>
					<h1>Book</h1>
					<span class="block"></span>
				</div>
				<div>
					<h1>Book</h1>
					<span class="block"></span>
					<span class="bottom-border"></span>
				</div>
			</div>
			<div class="button-base" slug="contact" tabindex="0" role="button" style="width: 25%; left: 75%;">
				<div>
					<h1>Film</h1>
					<span class="block"></span>
				</div>
				<div>
					<h1>Film</h1>
					<span class="block"></span>
					<span class="bottom-border"></span>
				</div>
			</div>
		</div>
        -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="index.html">
                        WEB &nbsp; 站
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                        <li><a href="book.html"><span class="glyphicon glyphicon-heart"></span>&nbsp;BOOK</a></li>
                        <li><a href="film.html"><span class="glyphicon glyphicon-heart"></span>&nbsp;FILM</a></li>
                        <li><a href="music.html"><span class="glyphicon glyphicon-heart"></span>&nbsp;MUSIC</a></li>
                        <li><a href="questionaire.html"><span class="glyphicon glyphicon-heart"></span>&nbsp;QUESTIONAIRE</a></li>
                        <li><a href="about.html"><span class="glyphicon glyphicon-th-large"></span>&nbsp;ABOUT US</a></li>
                    </ul>
                    <div >
                        <ul class="nav navbar-nav navbar-right"   >
                            <li> <a  href="syslogin.html">&nbsp;登陆</a></li>
                            <li> <a  href="register.html"class="sitenav">&nbsp;注册</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </nav>
		<noscript>
			&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-5KKHPS" height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;
		</noscript>
		<script>
			(function(w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					'gtm.start': new Date().getTime(),
					event: 'gtm.js'
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src =
					'//www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-5KKHPS');
		</script>

		<div id="page-container" style="margin-top: 150px;">

			<div id="goodbye" class="page-content">

				<div class="site-width">
					<div>
						<h1 style="font-size: 30px;font-weight: 800;font-family:'楷体';">好书推荐</h1>
						<hr class="intro-divider">
					</div>
					<div class="cards">
						<div class="person justin">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
									<div class="passage">
										<span class="name">创京东:刘强东亲述创业之路</span>&nbsp;&nbsp;【全国独家首发】刘强东唯一授权、国内首部揭秘京东和刘强东完整发展历程和战略的力作，深度遍访258位京东群英， 独家再现波澜壮阔众创大时代，徐新、张磊、周鸿祎、徐小平、吴晓波鼎力推荐，两万字刘强东内部讲话首次完整发布！	
									</div>
								</div>
							</div>
							<span class="name">李志刚</span>
							<a href="http://book.mihua.net/book/25/25874/4015474.html">点击阅读</a>
							<button style="padding: 10px 30px;"  type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>

						

						<div class="person marc">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
									<div class="passage" >
										<span class="name">周鸿祎自述 我的互联网方法论</span> &nbsp;&nbsp;互联网思维，柳传志、徐小平、潘石屹、冯仑、任志强、史玉柱、刘永好一致推荐团队互联网思维内训教材，公开周鸿祎内部讲话，深度解读360市值百亿美元互联网思维18字诀
									</div>
								</div>
							</div>
							<span class="name">周鸿祎</span>
							<span class="info">
							<a href="http://vdisk.weibo.com/s/AsXRN0idb_O5">点击下载</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person kate">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                                	<div class="passage" >
                                		<span class="name">《鸟哥的Linux私房菜:基础学习篇》</span> &nbsp;&nbsp;本书是最具知名度的Linux入门书《鸟哥的Linux私房菜基础学习篇》的最新版，全面而详细地介绍了Linux操作系统。内容丰富全面，基本概念的讲解非常细致，深入浅出。各种功能和命令的介绍，都配以大量的实例操作和详尽的解析。本书是初学者学习Linux不可多得的一本入门好书。
									</div>
								</div>
							</div>
							<span class="name">鸟哥</span>
							<span class="info">
                            <a href="http://linux.vbird.org/">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>

						<div class="person simon">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                               		<div class="passage" >
                                		<span class="name">Python基础教程第2版</span> &nbsp;&nbsp;本书包括Python程序设计的方方面面，首先从Python的安装开始，随后介绍了Python的基础知识和基本概念。然后循序渐进地介绍了一些相对高级的主题，包括抽象、异常、魔法方法、属性、迭代器。此后探讨了如何将Python与数据库、网络、C语言等工具结合使用，从而发挥出Python的强大功能,最后，作者结合前面讲述的内容，按照实际项目开发的步骤向读者介绍了几个具有实际意义的Python项目的开发过程。
									</div>
                                 </div>
							</div>
							<span class="name">Magnus Lie Hetland</span>
							<span class="info">
							<a href="http://vdisk.weibo.com/s/dk_zx0IxkGcWU">点击下载</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person keely">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                               		<div class="passage" >
                                		<span class="name"> C++ primer</span> &nbsp;&nbsp;久负盛名的 C++经典教程，时隔八年之久，终迎来史无前例的重大升级。书中丰富的教学辅助内容、醒目的知识点提示，以及精心组织的编程示范，让这本书在 C++ 领域的权威地位更加不可动摇。无论是初学者入门，或是中、高级程序员提升，本书均为不容置疑的首选。
									</div>
                                 </div>
							</div>
							<span class="name">Lippman/Lajoie/Moo</span>
							<span class="info">
							<a href="http://book.douban.com/reading/28385493/">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person marco">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                                	<div class="passage" >
                                		<span class="name">工业4.0</span> &nbsp;&nbsp;本书是费尔达芬工业峰会——系统领导2030年的配套用书，主题思想是：从经济和科学的角度，深入探讨怎样才能使中欧工业到2030年仍能保持一个成功的全球生产基地的地位。本书每个章节都从非常特殊的角度表达了对工业4.0的独特看法，所有这些观点综合在一起可以为我们清淅地勾勒出目前工业产业发展所处岔路口的情形。
									</div>
                                </div>
							</div>
							<span class="name">乌尔里希·森德勒</span>
							<span class="info">
                            <a href="http://read.jd.com/16598/791307.html">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person eric">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                                	<div class="passage" >
                                		<span class="name">大数据时代</span> &nbsp;&nbsp;本书是国外大数据系统研究的先河之作，作者被誉为“大数据时代的预言家”。作者指出，大数据带来的信息风暴正在变革我们的生活、工作和思维，大数据开启了一次重大的时代转型，并用三个部分讲述了大数据时代的思维变革、商业变革和管理变革。
                                    </div>
                                 </div>
							</div>
							<span class="name">Kenneth Cukier</span>
							<a href="http://www.360doc.com/content/12/1230/18/3235791_257193106.shtml">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person kevin">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                               		 <div class="passage" >
                                		<span class="name">零边际成本社会</span> &nbsp;&nbsp;作者杰里米·里夫金开创性地探讨了极致生产力、协同共享、产消者、生物圈生活方式等全新的概念，详细地描述了数以百万计的人生产和生活模式的转变。
									</div>
                                 </div>
							</div>
							<span class="name">杰里米·里夫金</span>
							<span class="info">
							<a href="http://read.douban.com/reader/ebook/8534313/?dcs=subject-einfo&dcm=douban&dct=sample">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person paul">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                               		<div class="passage" >
                                		<span class="name">破译黑天鹅</span> &nbsp;&nbsp;未来15年：
全球化2.0会创造数以百万计的中产阶级，但这块市场肥肉只会被送到真正“懂”它的商家口中。每个新兴市场都会有特定的消费偏好，市场将变得“既全球化又本土化”。这本书就是要告诉管理者和创业者们，未来15年，哪些领域隐藏着商机，哪些趋势不容忽视，以及面对这些商业变化，世界500强企业的领袖们又是如何应对的。
									</div>
                                 </div>
							</div>
							<span class="name">凡尔梅特/伊冯娜·赛尔 </span>
							<span class="info">
							<a href="http://read.douban.com/reader/ebook/8740794/?dcs=subject-einfo&dcm=douban&dct=sample">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person payam">
							
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                                	<div class="passage" >
                                		<span class="name">岛屿来信</span> &nbsp;&nbsp;《岛屿来信》是陶立夏创作的散文类文学，于2015年出版。讲述从北半球前往南太平洋的漫长旅途的故事。
									</div>
                                 </div>
							</div>
							<span class="name">陶立夏</span>
							<span class="info">
							<a href="http://read.douban.com/reader/ebook/8463658/?dcs=subject-einfo&dcm=douban&dct=sample">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person tanner">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                                	<div class="passage" >
                                		<span class="name">就像没有明天那样去生活</span> &nbsp;&nbsp;畅销书作家、豆瓣阅读畅销榜第1名作者丁小云最新作品。被万千读者誉之为“开启伟大命运之必读书” 。独家收录《一无所有的年轻人到哪里寻求资源》、《左小祖咒“乱搞”启示录》等经典文章 。
									</div>
                                 </div>
							</div>
							<span class="name">丁小云</span>
							<span class="info">

							<a href="http://book.douban.com/reading/35283583/">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
						
						<div class="person amanda">
							<div class="card">
								<img src="data:image/gif;base64,R0lGODlhFwAeAPAAAP///wAAACH5BAEAAAAALAAAAAAXAB4AAAIYhI+py+0Po5y02ouz3rz7D4biSJbmiXIFADs=" alt="">
								<div class="front"></div>
								<div class="back">
                                	<div class="passage" >
                                		<span class="name">不要让未来的自己讨厌现在的自己 </span> &nbsp;&nbsp; 豆瓣红人“特立独行的猫”写给千万年轻人的心灵成长之书。著名人生规划师、畅销书《拆掉思维里的墙》作者亲笔作序。豆瓣红人meiya、考拉小巫温暖推荐。独家收录豆瓣超级热帖《留在大城市，还是回老家？》、《不要让未来的你，讨厌现在的自己》、《躲过的，总有一天会找回来》……66篇佳作，9000000次网站转载，超2亿次阅读，激励无数人！
									</div>
                                 </div>
							</div>
							<span class="name">特立独行的猫</span>
							<span class="info">
							<a href="http://www.zreading.cn/archives/2147.html">点击阅读</a>
							<br />

							<button style="padding: 10px 30px;" type="submit" class="btn btn-primary btn-lg">赞

						</span>
						</div>
					</div>

				</div>

			</div>

		</div>

	</body>

</html>