body {
				color: #f8f8f8;
			}
			.pictrue {
				background-image: url(../img/main/banner-bg.jpg);
				position: relative;
				padding-top: 20%;
				padding-bottom: 20%;
				background-size: cover;
			}
			h1{
				text-align: center; 
				padding-bottom: 40px;
				font-family: '微软雅黑';
				font-weight: 700;
				font-size: 5em;
			}
			